.login-input {
  border: double 1vw transparent;
  border-radius: 5vw;
  background-image: linear-gradient(
      215deg,
      rgb(255, 226, 221) 0%,
      rgb(240, 221, 255) 50%,
      rgb(202, 247, 255) 100%
    ),
    linear-gradient(
      215deg,
      rgba(255, 42, 0, 1) 0%,
      rgba(158, 0, 255, 1) 50%,
      rgba(0, 219, 255, 1) 100%
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
  outline: none;
}

.login-submit-btn {
  color: green;
  &:hover {
    background-color: black;
  }
  border-radius: 8px;
}

.toregisref {
  text-decoration: underline;
  font-size: 18px;
}
